/**************************************************
 * Text Fields
**************************************************/
.mfx-text-field {
    -fx-min-width: 130;
    -fx-font-family: 'Visby Round CF Medium';
}

.text{
    -fx-font-family: 'Visby Round CF Medium';
}

.mfx-text-field:hover {
    -fx-background-color:#CDCDCD;
}

.mfx-text-field .floating-text {
    -fx-font-family: 'Visby Round CF Medium';
}

.mfx-button {
    -fx-font-family: 'Visby Round CF Medium';
    -fx-text-fill: -mfx-text-he;
}

.mfx-button:hover {
    -fx-background-color:#D3D3D3;
}

.mfx-button .mfx-ripple-generator {
    -mfx-ripple-radius: 40;
    -mfx-auto-clip: true;
}

.outline-button {
    -fx-background-color: transparent;
    -fx-border-color: -mfx-purple;
    -fx-border-radius: 3;
    -fx-text-fill: -mfx-purple;
}

.outline-button:hover,
.outline-button:focused {
    -fx-background-color: -mfx-purple;
    -fx-text-fill: white;
}

.Text{
    -fx-font-family:Visby Round CF Medium !important;
}

#copyIcon:hover, .image-view:hover, .mfx-text-field:hover{
    -fx-opacity: 0.7;
    -fx-translate-y: 1;
}

